 
*{
    margin: 0px;
    padding: 0px;
} 
 
 
 #back_footer{
    background-color: #4d5e7fc9;
    width: 100%;
    height: 435px;
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}
#iconHeader{
    width: 215px;
    height: 40px;
}

nav.navbar.navbar-light.bg-light{
  background-color:white !important;
}
span#basic-addon1.input-group-text{
  border: 1px solid black !important;
  background-color: rgb(49, 49, 75) !important;
}
i.bi.bi-search{
  color: white !important;
}
input.form-control{
  border: 1px solid black !important;

} 







div.ui-page-theme-a.ui-page-active{
  width: 314px;
  min-height: 100px;
  max-height: 13px;
  display: contents;
}
div.ui-content{
  width: 300px;
}
.ui-slider-track .ui-btn.ui-slider-handle {
  top: 13px !important;
  font-size: .9em !important;
  line-height: 30px !important;
  height: 15px !important;
  width: 15px !important;
}

.ui-slider-track .ui-btn.ui-slider-handle {
  margin: -15px 0 0 -5px !important;
}

div.ui-slider-bg.ui-btn-active{
  background: #00000069 !important;
}


