*{
    margin: 0px;
    padding: 0px;
} 
 
 
 #back_footer{
    background-color: #4d5e7fc9;
    width: 100%;
    height: 435px;
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}
#iconHeader{
    width: 215px;
    height: 40px;
}

nav.navbar.navbar-light.bg-light{
  background-color:white !important;
}
span#basic-addon1.input-group-text{
    border: 1px solid black !important;
    background-color: rgb(49, 49, 75) !important;
  }
  i.bi.bi-search{
    color: white !important;
  }
  input.form-control{
    border: 1px solid black !important;
  
  } 

  #carouselExampleIndicators{
     display: none;
 }





 #navBar1{
     display: none;
 }






 #back_footer{
    background-color: #4d5e7fc9;
    width: 100%;
    height: 435px;
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}
#iconHeader{
    width: 215px;
    height: 40px;
}

nav.navbar.navbar-light.bg-light{
  background-color:white !important;
}
span#basic-addon1.input-group-text{
  border: 1px solid black !important;
  background-color: rgb(49, 49, 75) !important;
}
i.bi.bi-search{
  color: white !important;
}
input.form-control{
  border: 1px solid black !important;

} 


@media screen and (min-width:865px) and (max-width:1275px) {
  #kfc{
    margin-right: 0px !important;
    margin-bottom: 15px !important;
  }  
  #pizzaImg{
    margin-right: 0px !important;
    margin-bottom: 15px !important;
  }
 

  #main1{
      width: 100% !important;

  }
  #plats-cards{
    display: flex !important;
    flex-wrap: initial !important;
  }
}
@media screen and (min-width:641px) and (max-width:865px) {
    div.card-food{
        margin-right: 0px !important;
    }
    #zinger{
      margin-right: 25px !important;
    }
}
@media screen and (min-width:0px) and (max-width:640px){
    #zinger{
        margin-right: 0 px !important;
    }
    #pizzaImg{
      margin-right: 0px !important;
    }
    #kfc{
      margin-right: 0px !important;
    }
    #turq{
        margin-right: 0px !important;
    }
    #rus{
        margin-right: 0px !important;
    }
    #DZ{
        margin-right: 0px !important;
    }
}



@media screen and (min-width:0px) and (max-width:865px)  {
    #aside{
        display: none !important;
    }
    #main1{
        margin-left: 0px !important;
        width: 100% !important;
    }
div.card-food1{
    width: 300px !important;

}





}

@media screen and (min-width:0px) and (max-width:1275px) {
    #navBar1{
       display: flex !important;
       margin-top: 10px !important;
       margin-bottom: 10px !important;
    }

    #aside{
      display: none !important;
  }
}
@media screen and (min-width:0px) and (max-width:865px) {
  div.card-food{margin-right: 0px !important;    margin-bottom: 5px;
    }
}
@media screen and (min-width:635px) and (max-width:866px) {
div.card-food{margin-right: 5px !important;}  
}

#list1{    margin-left: 65px;
}
#list1p{    margin-left: 45px;
}
@media screen and
(max-width:1125px) {
  #tas{display: none !important; }
  #tas1{display: none !important; }
  #tas2{display: none !important; }
  #tas3{display: none !important; }
  #tas4{display: none !important;}
  #plats-cards{
    background: #aaaa3f61 !important;
    background-image: url(tas1.png) !important;
    background-blend-mode: color !important;
  }
  #title1{background: #946fcd21;border-radius: 10px;}
  #title0{background: #946fcd21;border-radius: 10px;}
  div#navBar1{margin-top: -45px;margin-bottom: 5px;}
}

